// package.json
{
  "name": "BuiltWorlds-Hackathon",
  "version": "1.0.0",
  "description": "A Vue.js project",
  "author": "",
  "private": true,
  "scripts": {
    "dev": "node FrontEnd/build/dev-server.js",
    "build": "node FrontEnd/build/build.js",
    "start": "node FrontEnd/server.js",